h1 , h2, h3{
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position:relative;
  overflow: hidden;
  /* выше установили ограничения для секции */
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.flex-row{
  display:flex;
}

.flex-column{
  display:flex;
  flex-direction: column;
}

.flex-row-reverse{
  display:flex;
  flex-direction:row-reverse;
}

.flex_column_right_place_header{
  margin-left:auto;
}

.logo{
  
  background-image: url(../images/logo_place_header.svg);
  width: 228px;
  height: 32px;
  
}

.header__title{
  width:730px;
  margin-left: 64px;
  margin-top:auto;
  margin-bottom:auto;
  z-index:2;
}

.header__title_text{
  font-size: 102px;
  line-height: 96px;
  font-weight:600;
}

.header__subtitle{
  position:absolute;
  bottom:30px;
  left:64px;
  width:338px;
  z-index:2;
}

.header__subtitle_text{
  font-size: 18px;
  line-height:25px;
  font-weight:normal;
}

.main_illustration{
  position:absolute;
  width:765px;
  height:608px;
  right:0;
  bottom:0;
  z-index:1;
}

.square_pic{
  position: absolute;
  width:568px;
  height: 569px;
  top:64px;
  right:0;
  background-position:center;
  background-size:cover;
  background-color:blue;
  z-index:0;
}

.logo_place_header{
  position: absolute;
 top:30px;
 left:64px;
}

.content_title{
  width:730px;
  margin-left:64px;
 flex-direction: column-reverse;
}

.two-columns{
  margin-top:100px;
  margin-bottom:100px;
  justify-content: space-between;
}

.brief{
  width:175px;
}

.text_place_brief{
  line-height: 21px;
  font-size:18px;
  color:aqua;
  font-weight:normal;
}

.main-text{
  width:80%;
  min-width:784px;
}

.main-text_paragraph{
  line-height: 34px;
  font-size:24px;
  font-weight:normal;
}

.span{
  margin-top:30px;
  margin-bottom:30px;
  font-weight:600;
  line-height:34px;
  font-size:24px;
}

.digits{

}

.section-title{
  margin-top:100px;
  width:60%;
  margin-bottom:20px;
  margin-left:auto;
  margin-right:auto;
}

.title_place_digits{
  text-align: center;
  font-size:60px;
  line-height:69px;
  font-weight:600;
}

.section-subtitle{
  width:60%;
  margin-left:auto;
  margin-right:auto;
}

.subtitle_place_digits{
  text-align: center;
  line-height:34px;
  font-size:24px;
  font-weight:normal;
}

.table{
  display:flex;
  width:1100px;
  flex-wrap:wrap;
  margin-bottom:100px;
  margin-right:auto;
  margin-left:auto;
}

.cell{
  margin-top:60px;
  width:250px;
}

.text_place_heading{
  margin-top:20px;
}

.title-info{
line-height:27px;
font-size:24px;
font-weight:600;
}

.text-info{
  line-height:21px;
  font-size:18px;
  font-weight: normal;
}

.feynman{
  background-color: #f2f2f2;
  position: relative;
  z-index: -4;
}

.feynman__title{
  width:648px;
  margin-top:100px;
  margin-left:auto;
  margin-right:auto;
  z-index:-2
}

.title_place_feynman{
  font-size:120px;
  font-weight:600;
  line-height: 120*1.15;
text-align: center;
}

.feynman__subtitle{
  margin-top:70px;
  z-index:-2
}

.subtitle_place_feynman{
  font-size:36px;
  line-height:51px;
  text-align: center;
}

.feynman__link{
  position:absolute;
 right:48px;
 left:auto;
 top:50%;
}

.link_place_feyman{
  text-align:right;
  line-height:51px;
  font-weight: normal;
  font-size:36px;
}

/*.feynman__img{
  position:absolute;
  top:auto;
  right:auto;
  width:867px;
  height:637px;
}*/

.img_place_feynman{
  position:absolute;
  bottom:0;
  left:0;
  width:867px;
  height:637px; 
  z-index: -3;
}

.kaufman{
  background-color:#1f1f1f;
  position:relative;
  overflow: hidden;
  z-index: -2;
}

.kaufman__title{
  width:60%;
  margin-top:90px;
  margin-left:auto;
  margin-right:auto;
  margin-top:90px;
}

.title_place_kaufman{
  text-align: center;
}

.table_theme_color_dark{
  display:flex;
  flex-wrap:wrap;
  width:1100px;
  margin-bottom:90px;
  margin-right:auto;
  margin-left:auto;
}

.kaufman__subtitle{
  width:60%;
  margin-top:20px;
  margin-right:auto;
  margin-left:auto;
}

.subtitle_place_kaufman{
  text-align:center;
}

.theme_color_dark{
  color:white;
}

.cell_theme_color_dark{
  width:200px;
  margin-top:80px;
  font-size:24px;
}

.title_place_kaufman{
  font-size:60px;
  line-height:69px;
  font-weight:600;
}
.subtitle_place_kaufman{
  font-size:24px;
  line-height:34px;
  font-weight: normal;
}

.kaufman_title_info{
  line-height:27px;
  font-size:24px;
  font-weight:600;
}

.kaufman_text-info{
  line-height: 1.2*18;
  font-size:18px;
  font-weight: normal;
}

.caufman_img{
  position:absolute;
  right:-210px;
  top:0;
  width:877px;
  height:877px;
  z-index: -1;
}

.footer{
  min-height:350px;
  background-color:#1f1f1f;
}

.columns{
  margin-top:60px;
  margin-bottom:40px;
  width:90%;
  margin-left:auto;
  margin-right:auto;
}

.column_content_copyright{
  justify-content:space-between;
  flex-basis: 711px;
}

.text_author{
  line-height:25px;
  font-size:18px;
  font-weight:normal;
}

.footer_column-link{
  display:flex;
  align-items: center;
  justify-content:flex-start;
  column-gap: 10px;
  margin-top:20px;
  margin-bottom:16px;
}

.column_heading_text{
  line-height:30px;
  font-size:18px;
  font-weight:normal;
}

.column-links{
  line-height:30px;
  font-size:18px;
  font-weight:normal;
  text-decoration: none;
}

.footer-box{
  width:50%;
}

.footer_border{
  display:flex;
  width:50%;
  align-self: flex-start;
  justify-content:flex-start;
}

.logo_place_footer{
  background-image: url(../images/logo_place_footer.svg);
  width:228px;
  height:32px;
}

